* {
margin:0;
padding:0;
/* border:0; */
outline:0;
/* font-size:100%;
vertical-align:baseline;
background:transparent; */
}
a {
    text-decoration: none;
}
ul {
  list-style: none;
}
.TitleBig {
    font-size: 1.6em;
    font-family: '楷体', "微软雅黑", monospace;
    font-weight: 700;
}
.titleMiddle {
    text-align: center;
    font-size: 1.5em;
    font-family: '楷体', "微软雅黑", monospace;
    font-weight: 600;
}
.titleSmall {
    font-size: 0.8em;
    font-family: '楷体', "微软雅黑", monospace;
    font-weight: 300;
}
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }
::-webkit-scrollbar-thumb {
    background-color: #a1a3a9;
    border-radius: 3px;
  }

    /* .el-table__fixed {
      height:auto !important;
      bottom:17px;
    } */
.container{
  max-width: 98%;
  height: 90%;
  margin:0 auto;
  padding:20px 10px;
  text-align: left;

}
@media screen and  (max-width:800px){
  .container{
      max-width: 100%!important;
      margin:0 auto;
  }
}
.title {
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px 0;
}

.color-primary {
  color: #14889A;
}

.el-checkbox__input .el-checkbox__inner {
  background-color: #ffffff;
  border-color: #909399;
}
.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #14889A;
  border-color: #14889A;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #14889A;
  border-color: #14889A;
}


.el-pager li.active {
  color: #14889A;
}

.el-button--primary {
  color: #fff;
  background-color: #14889a;
  border-color: #14889a;
}
.el-button--primary:hover {
  background-color: #61b6c4;
  border-color: #61b6c4;
}
.el-button--primary:focus {
  background-color: #14889a;
  border-color: #14889a;
}
.el-button--default:hover {
  color: #14889a;
  border-color: #14889a;
}
.el-button--text {
  color: #14889a;

}

.el-cascader-node.in-active-path, .el-cascader-node.is-active, .el-cascader-node.is-selectable.in-checked-path {
  /* color: #409EFF; */
  color: #14889A;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #14889A;
  background: #14889A;
}

.el-tabs__item:hover {
  color: #14889A;
}
.el-tabs__item.is-active {
  color: #14889A;
}

.el-form-item label:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.el-form-item__label {
  text-align: justify;
  height: 50px;
}

.el-form-item__label {
  line-height: 25px;
}

.el-tooltip__popper{
  max-width: 500px
}

.el-select-dropdown__item.selected {
  color: #14889A;
  width: auto;
}

.el-tag {
  color: #747272;
}

.el-avatar>img {
  height: 125%;
  display: inline;
}

.el-radio__input.is-checked+.el-radio__label {
  color: #14889A;
}